@model WebApplication6.Models.FilmLanguage

<div class="row mt-3">
    <div class="col-sm-4 text-center">
        フィルムのLanguage_Id<br />TextBox
    </div>
    <div class="col-sm-4 text-center">
        <input type="text" class="form-control" id="language_id"/>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary">hoge1</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-4 text-center">
        テキストボックス<br />TextBox
    </div>
    <div class="col-sm-4 text-center">
        @Html.TextBoxFor(
  model => model.language.name,  // プロパティ
  new { size = 30, maxlength = 40, @class = "form-control", placeholder = "hogehoge", id = "textbox" } // その他の属性
)
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" ">hoge2</button>
    </div>


</div>
<div class="row mt-3">
    <div class="col-sm-12 text-center">
        @Html.DisplayFor(model => model.language.name)
    </div>
</div>
<div class="row">
    <button class="btn btn-info" data-toggle="modal" data-target="#modalProcessAdd">追加<br />Add</button>
</div>
<div class="row mt-3">
    <div class="col-sm-12">
        @*部分ビュー(PartialView)領域*@
        <div id="load_area">読み込み中…。</div>
        @*部分ビュー(PartialView)領域*@
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Language id</label>
                    <input type="text" class="form-control" id="modalName" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="set" data-dismiss="modal">バーコード読み取り後に、変更</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProcessAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-modal-title">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">追加</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-modal-body">
                <div class="form-group">
                    <form id="processAddForm" action="">
                        <label>フィルム名</label><label class="text-danger">(必須)</label>
                        <input type="text" class="form-control" name="processName" />

                        @*validate時のエラーメッセージ領域*@
                        <p class="is-error-processName text-danger"></p>
                        @*validate時のエラーメッセージ領域*@

                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#processAddForm").validate({
            rules: {
                processName: {
                    required : true,
                }
            },
            messages: {
                processName: {
                    required: '名前を入力してください',
                },
            },

            errorPlacement: function (error, element) {
                var name = element.attr('name');
                error.appendTo($('.is-error-' + name));
            },

            errorElement: "span",
            errorClass: "is-error",

        });

        // ダイアログ#追加ボタンクリック時
        $("#set").click(function () {
            // 入力値を基に、AJAXでLanguageテーブル検索し、合致したlanguage#nameを"テキストボックス".valに入れる
            $.ajax({
                type: 'GET',
                url: '@Url.Action("AsyncExistsLanguage", "List")',
                data: { id: $("#modalName").val() },
                contentType: 'application/json',
            })
            .done(function (data) {
                console.log(JSON.stringify(data));

                $("#textbox").val(data["returnText"]);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                // Ajaxリクエストが失敗した場合
                console.log(errorThrown);
                console.log(textStatus);
                alert(errorThrown);
            });

        });

        // フィルムのLanguage_Id blur時
        $("#language_id").blur(function () {
            console.log("[javascript event] language_id textbox blur!");
            $("#load_area").load("/List/PartialProcessList?id=" + $(this).val());
        });


    });

</script>